@media (max-width: 1000px) {
    .nav,
    .footer-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .nav img {
        max-width: 150px;
        width: 100%;
    }

    .header-pazzle,
    .main-content-info {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

    .main-content-info {
        gap: 10px;
    }

    .pazzle-col-f-img {
        height: 500px;
        width: 600px;
        object-fit: none;
    }

    .main-content-info img {
        max-width: 400px;
        width: 100%;
        height: 400px;
    }
}

@media (max-width: 750px) {
    .nav-list,
    .footer-list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-list-links,
    .footer-list-links,
    .content-paragraph-text {
        font-size: 14px;
    }

    .nav img,
    .footer-content img {
        max-width: 120px;
        width: 100%;
    }
}